%h1= @test_round.test_program.public_name
%p= @test_round.test_program.description

.sound 
  %h2 Identify the sound
  #container Loading the player...

.actions
  = link_to (sound = @test_round.round_prototype.pair_prototype.left_sound).name, test_round_path(@test_round, :test_round => {:guess_id => sound.id}), :method => :put, :class => 'hidden-until-played'
  = link_to (sound = @test_round.round_prototype.pair_prototype.right_sound).name, test_round_path(@test_round, :test_round => {:guess_id => sound.id}), :method => :put, :class => 'hidden-until-played'


= audio_tag @test_round.clip.attachment.url

:javascript
  $(function(){
    jwplayer('container').setup({
      flashplayer: '/swf/player.swf',
      file: $('audio').attr('src'),
      height: 24,
      controlbar: 'bottom',
      width: 300
    }).onComplete(function(){
      $('.actions a').addClass('played');
    });
  });

