%h1= @user.email
%p Welcome. The experiment below takes 15 to 30 minutes to complete.

%h2 Experiments
%p Your progress is saved so you can quit at any time and return to this site to resume the experiment. Click below to begin. You will be returned to the current home page when you have completed the experiment.
%ul
  - @experiment_group_prototypes.each do |experiment_group_prototype|
    %li
      - if (experiment = current_user.experiment_in(experiment_group_prototype))
        - if experiment.complete?
          %span.complete= experiment_group_prototype.name
          %strong complete, thank you! remember to indicate your interest in a gift card at the bottom of the page.
        - else
          = link_to experiment do
            %span.in-progress= experiment_group_prototype.name
            %strong in progress
      - else
        = link_to experiment_group_prototype.name, experiment_group_prototype


%h2 Eligibility
%p The intended population for this experiment is English-speaking individuals with no training in linguistics or Mandarin Chinese.
%p You are in a special group for consideration purposes for the experiment if any one of the following sentences describe you:
%ul
  %li You have a phonetics/phonology background.
  %li You have at least some training or proficiency in Mandarin chinese.
  %li You know what my hypothesis is.
  %li You do not have native or near-native proficiency in English.
%p Even if these describe you, I welcome you to still take the experiment, but please make note of your exceptions in the comments area below so I know to take the with special consideration.

%h2 Comments
%p Please fill in below any comments you have about the experiment or about your linguistic background that I might find useful. 
= form_for @user do |f|
  = f.text_area :comment, :placeholder => 'Your comment goes here.', :rows => 10, :cols => 80
  %br
  = f.submit 'Save comment'
