%h1= @user.email
%p Welcome. The experiment below takes 15 to 30 minutes to complete.

%h2 Executive executive summary
%p Participate. Get a $5 Amazon.com gift card if your results are in order (it doesn't matter how well or poorly you perform, but you should try your best) and you're among the first 20 to complete the test. Make sure you check off your interest at the bottom of the page.

%h2 Eligibility
%p The intended population for this experiment is English-speaking individuals with no training in linguistics or Mandarin Chinese.
%p You are in a special group for consideration purposes for the experiment if any one of the following sentences describe you:
%ul
  %li You have a phonetics/phonology background.
  %li You have at least some training or proficiency in Mandarin chinese.
  %li You know what my hypothesis is.
  %li You do not have native or near-native proficiency in English.
%p Even if these describe you, I welcome you to still take the experiment and even sign up for the gift card, but please make note of your exceptions in the comments area below so I know to take the with special consideration.
%p Due to the desirability of responses from those in the intended population, gift cards available for special group members are capped at five. But please do let me know if you're in the special group. For SCIENCE!

%h2 Experiment instructions
%p If you can't see your options on any given page, play all the sounds on the page. If your options still don't show up, contact me at the following email address, and I will sort it out.
%p= link_to 'syx2@cornell.edu', 'mailto:syx2@cornell.edu'

%h2 Experiments
%p Your progress is saved so you can quit at any time and return to this site to resume the experiment. Click below to begin. You will be returned to the current home page when you have completed the experiment.
%ul
  - @experiment_group_prototypes.each do |experiment_group_prototype|
    %li
      - if (experiment = current_user.experiment_in(experiment_group_prototype))
        - if experiment.complete?
          %span.complete= experiment_group_prototype.name
          %strong complete, thank you! remember to indicate your interest in a gift card at the bottom of the page.
        - else
          = link_to experiment do
            %span.in-progress= experiment_group_prototype.name
            %strong in progress
      - else
        = link_to experiment_group_prototype.name, experiment_group_prototype

%h2 Comments
%p Please fill in below any comments you have about the experiment or about your linguistic background that I might find useful. 
= form_for @user do |f|
  = f.text_area :comment, :placeholder => 'Your comment goes here.', :rows => 10, :cols => 80
  %br
  = f.submit 'Save comment'

%h2 Interest in Amazon Gift Card
%p Upon successful completion of any of the above experiments, you are eligible for a $5 Amazon.com gift card. The first 20 people to satisfactorily* complete the survey will receive a short email questionnaire shortly after completion. Individuals who successfully complete the questionnaire will be emailed a code that can be redeemed for $5 USD of Amazon.com credit.
%p I will do my best to notify you via this page when 20 surveys have been completed.
%p You can also opt out of the gift card. If you do, it means that one additional person will be able to contribute to this study, and I will be doubleplusgrateful.
%p
  %small *: Satisfactory completion is at my sole discretion. Things that may disqualify a completion from being satisfactory for award purposes include but are not limited to abuse, multiple accounts from the location, software bugs in the survey system, unnatural response and progress rates, or an invalid email.

%p
  - if @user.interest
    %strong You have indicated that you are interested in receiving the gift card.
  - elsif @user.interest.nil?
    %strong You have yet to indicate your interest one way or another.
  - else
    %strong You are not interested in receiving the gift card.

.actions
  = link_to 'I would like to be eligible for a gift card.', user_path(@user, :user => {:interest => true}), :method => :put
  = link_to 'No thanks, I am volunteering.', user_path(@user, :user => {:interest => false}), :method => :put
