%h1= @user.email
%p The experiment is over. You may still start a new experiment or complete an existing experiment, but your contribution will not be counted.

%h2 Experiments
%p Your progress is saved so you can quit at any time and return to this site to resume the experiment. Click below to begin. You will be returned to the current home page when you have completed the experiment.
%ul
  - @experiment_group_prototypes.each do |experiment_group_prototype|
    %li
      - if (experiment = current_user.experiment_in(experiment_group_prototype))
        - if experiment.complete?
          %span.complete= experiment_group_prototype.name
          %strong complete, thank you! remember to indicate your interest in a gift card at the bottom of the page.
        - else
          = link_to experiment do
            %span.in-progress= experiment_group_prototype.name
            %strong in progress
      - else
        = link_to experiment_group_prototype.name, experiment_group_prototype

%h2 Comments
%p Please fill in below any comments you have about the experiment or about your linguistic background that I might find useful. 
= form_for @user do |f|
  = f.text_area :comment, :placeholder => 'Your comment goes here.', :rows => 10, :cols => 80
  %br
  = f.submit 'Save comment'
