%h1= @training_round.training_program.public_name
%p= @training_round.training_program.description

#left.sound
  %h2= @training_round.left_clip.sound.name
  #left-container Loading the player...
  = audio_tag @training_round.left_clip.attachment.url
#right.sound
  %h2= @training_round.right_clip.sound.name
  #right-container Loading the player...
  = audio_tag @training_round.right_clip.attachment.url

= link_to 'Proceed', training_round_path(@training_round, :training_round => {:complete => true}), :method => :put

:javascript
  $(function(){
    jwplayer('left-container').setup({
      flashplayer: '/swf/player.swf',
      file: $('#left audio').attr('src'),
      height: 24,
      controlbar: 'bottom',
      width: 300
    });
    jwplayer('right-container').setup({
      flashplayer: '/swf/player.swf',
      file: $('#right audio').attr('src'),
      height: 24,
      controlbar: 'bottom',
      width: 300
    });
  });

