%h1= @training_round.training_program.public_name
%p= @training_round.training_program.description

#left.sound
  %h2= @training_round.left_clip.sound.name
  #left-container.wrapper Loading the player...
  = link_to 'Sound', @training_round.left_clip.attachment.url, :class => 'audio hidden'
#right.sound
  %h2= @training_round.right_clip.sound.name
  #right-container.wrapper Loading the player...
  = link_to 'Sound', @training_round.right_clip.attachment.url, :class => 'audio hidden'

.actions
  = link_to 'Proceed', training_round_path(@training_round, :training_round => {:complete => true}), :method => :put, :id => 'next', :class => 'hidden-until-played'

:javascript
  var i;
  $(function(){
    jwplayer('left-container').setup({
      flashplayer: '/swf/player.swf',
      file: $('#left .audio').attr('href'),
      height: 24,
      controlbar: 'bottom',
      width: 300
    }).onComplete(function(){
      $('#next').addClass('left-played');
    });
    jwplayer('right-container').setup({
      flashplayer: '/swf/player.swf',
      file: $('#right .audio').attr('href'),
      height: 24,
      controlbar: 'bottom',
      width: 300
    }).onComplete(function(){
      $('#next').addClass('right-played');
    });
  });

